*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background-color: black;
    width:100%;
    color:white;
    height: 60px;
}
.container{
    height: 100%;
    width:80%;
    margin:0 auto;
    
}
.header__logo span{
    color: #27c7ab;
 
}
.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.header__nav ul{
    list-style-type: none;
    display: flex;
}
li{
    margin-right: 15px;
}
li:last-child{
    margin-right: 0;
}
.slider-section{
    width:100%;
    height: 350px;
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(28%, rgba(255,255,255,1)), color-stop(77%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.slider-section__global{
     display:flex;
     align-items: center;
 }
 .images-section .container{
     height: 300px;
     widows: 100%;
 }
 .images-section__mainbox{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 .image-section__box--first{
    width:30%;
    background-image: url(../images/box1_img.jpg);
    width:30%; 
    height: 74%;
    background-size: cover;
    background-repeat: no-repeat;
    
 }
 .image-section__box--second{
    background-image: url(../images/box2_img.jpg);
    width:30%; 
    height: 74%;
    background-size: cover;
    background-repeat: no-repeat;
    
 }
 .image-section__box--third{
    width:30%;
    height: 74%;
    border:1px solid rgb(182, 182, 182);
 }
 .section-price{
  
    height: 500px;
    background-color: f1f1f1;
   
 }
 .section-price__mainbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .section-price__basic-plan{
    width:30%;
    height: 74%;
    border:1px solid rgb(182, 182, 182);
 }
 .section-price__standard-plan{
    width:30%;
    height: 74%;
    border:1px solid rgb(182, 182, 182);
 }
 .section-price__advance-plan{
    width:30%;
    height: 74%;
    border:1px solid rgb(182, 182, 182);
 }
 .form-section{
    width:100;
    height: 500px;
 }