*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}
a{
    text-decoration: none;
    color:white;
}
.header{
    background-color: black;
    width:100%;
    color:white;
    
}
.container{
    width:89%;
    margin:0 auto;  
}
.header__logo span{
    color: #27c7ab;
 
}
.header .container{
    font-size: 15px;
    padding:12px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.header__nav >ul{
    list-style-type: none;
    display: flex;
    padding-right: 10px;
}
li{
    margin-left: 4px;
    margin-right: 50px;
}

li:last-child{
    margin-right: 3px;
    margin-left: -10px;
}
li.dropdown > ul {
    width:160px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
     position: absolute;
    padding-left: 20px;
    margin-left: -40px;
    top:52px;
    transition: 0.2s;
    list-style: none;
    background-color: black;
    z-index: 1;
    visibility: hidden;
}
li.dropdown:hover > ul {
   
    visibility: visible;
    
}

li.dropdown > ul>div{
    
    z-index: 1;
    position: relative;
    width:10px;
    height: 10px;
    background-color: black;
    left:55px;
    top:-5px;
    transform:rotate(45deg)
}
li.dropdown>ul>li{
    line-height: 24px;
   
    
}
li.dropdown > ul>li:last-child{
     margin-right: 0px;
    margin-left: 0px;
    padding-left: 4px;
}

.slider-section{
    width:100%;
    
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(28%, rgba(255,255,255,1)), color-stop(77%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(246,246,246,1) 77%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.slider-section__global{
     display:flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 75px;
    
 }
 .slider-section__global--arrow{
    font-size:45px;
    color:#27c7ab;
    width: 5%;
 }
 .slider-section__global--blackchair{
    height: auto; 
 }

 .sldier-section__txt{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 40px;
     padding: 10px;
    }
 .sldier-section__txt p{
     padding: 10px;
     font-size: 14px;
     line-height: 25px;
 }
 .sldier-section__txt h1{
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 10px;
     font-size: 36px;
     padding-right: 100px;
     letter-spacing: 2px;
 }
.sldier-section__txt span{
    color:#27c7ab;
}
span.sldier-section__btn{
    color:white;
    background-color: #27c7ab;
    font-size: 18px;
    padding: 12px;
    border-radius: 13px 13px 13px 13px;
}

 .images-section{
     padding-top: 20px;
 }
 .images-section__mainbox{
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 30px;
     
 }
 .image-section__box--first{
    width:31%;
    background-image: url(../images/box1_img.jpg);
    height:225px;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .image-section__box--second{
    background-image: url(../images/box2_img.jpg);
    width:31%; 
    height:225px;
    background-size: cover;
    background-repeat: no-repeat; 
 }
 .image-section__box--third{
    width:31%;
    border:1px solid rgba(212, 212, 212, 0.788);
 }
  .image-section__box--third p{
      padding:12px;
  }
 .image-section__box--third h3{
     margin:12px;
     border-bottom:5px solid #27c7ab;
     width:40%;
 }
 .chair-name{
     display:flex;
     align-items: flex-end;
     margin-bottom: 20px;
 }
 .img__background {
    background-color: rgba(255, 250, 250, .7);
    width:100%;
 }
 .img__background h3{
     padding: 20px;
 }
 .image-section__box--third p:first-of-type{
     margin-bottom: 12px;
 }
 .section-price{
    background-color: f1f1f1;
    padding: 2% 0;
    min-width: 740px;
 }
 .container h2{
   
    border-bottom: 5px solid #27c7ab;
    width: 30%;
 }
 .section-price__mainbox{
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    min-height: 50%;
}
 .section-price__basic-plan,
 .section-price__standard-plan,
 .section-price__advance-plan{
    width:31%;
    max-height: 63%;
    height:580px;
    min-height:600px;
    border:1px solid rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
 }
 .section-price--circle{
     height:4rem;
     width: 4rem;
     background-color: #f1f1f1;
     border:1px solid rgb(182, 182, 182);
     border-radius: 50%;
     position: relative;
     top:-2.5rem;
     z-index: 1;
 }
#greenCircle{
    background-color: #27c7ab;
    border-color: #27c7ab;
}
  
 .section-price--innerCircle{
     height:2rem;
     width: 2rem;
     background-color: #868686;
     border:1px solid rgb(182, 182, 182);
     border-radius: 50%;
     position: relative;
     top:1rem; 
     left:1rem;
 }
 #greenCircle > .section-price--innerCircle{
     background-color:#f1f1f1;
 }
 .section-price__standard-plan{
     background-color: #27c7ab;
 }
 .section-price__basic-plan p:nth-child(4),
 .section-price__standard-plan p:nth-child(4),
 .section-price__advance-plan p:nth-child(4)
 {
     background-color: #e4e4e4;
     font-size: 18px;
     text-align: center;
     padding:15px 30px;
     width:100%;
     color:#868686;
 }
 .section-price__standard-plan p:nth-child(4)
 {
     background-color: #fff;
 }
 .section-price__basic-plan p:nth-child(5),
 .section-price__standard-plan p:nth-child(5),
 .section-price__advance-plan p:nth-child(5)
 {
     background-color: rgb(235, 235, 235);
     font-size: 18px;
     text-align: center;
     padding:15px 30px;
     width:100%;  
 }
 .section-price__standard-plan p:nth-child(5){
       color:rgb(131, 131, 131);
 }
 .section-price__standard-plan p:nth-child(6),
 .section-price__advance-plan p:nth-child(6){
     background-color: #fff;
     font-size: 18px;
     text-align: center;
     padding:15px 30px;
     width:100%;
     color:rgb(131, 131, 131);
 }
  .section-price__advance-plan p:nth-child(7){
     font-size: 18px;
     text-align: center;
     padding:15px 30px;
     width:100%;
     background-color: #ebebeb;
 }

 .section-price__circleprice{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-weight: bold;
     color:#c2c2c2;
     margin-bottom: 7%;
 }
 
 .section-price__circleprice p:first-child{
     font-size: 33px;
 }
 .section-price__circleprice p sup{
     font-size: 16px;
 }
 div.section-price__basic-plan>p:first-of-type,
 div.section-price__standard-plan>p:first-of-type,
 div.section-price__advance-plan>p:first-of-type
 {
     color:#27c7ab;
     padding:20px 30px;
     font-weight: bold;
     text-transform: uppercase;
      font-size:18px;
 }
 div.section-price__standard-plan>p:first-of-type{
     color:white;
 }

 .section-price__btn-box{
     width:100%;
     background-color: #fff;
    min-height: 20%;
     padding-bottom: 8%;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     flex-grow: 2;
 }
 .section-price__btn-box span{
    padding:6px 30px;
    background-color: #27c7ab;
    border-radius: 10px 10px 10px 10px;
    
 }
 .section-price__standard-plan .section-price__btn-box{
     background-color: #27c7ab;
 }
  .section-price__btn-box--standardPlan span{
     color:#27c7ab;
     background-color: #fff;
 }
 


 .form-section{
    width:100%;
    color:black;
    padding:20px 0;
    
 }
 .form-section__form{
     width:60%;
     
 }
 .form-section__form--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:10px 0;
 }
 input{
     margin:10px 0;
 }
 label{
     width:80%;
    }
 .form__mainbox{
     display: flex;
     justify-content: space-between;
 }
 .form-section__sendBox{
     display:flex;
     flex-direction: column;
     align-items:center;
     justify-content: center;
     margin-left: 10px;
 }
 #redchair{
     margin-bottom: 5%;
 }
 .form-section__confirm{
     display:flex;
     padding: 10px 0px 20px 50px;
    
     
 }
 .form-section__form--form input,
 .form-section__form--form textarea{
     font-size: 1.5em;
     padding-left: 2%;
 }
.form-section__confirm img{
    border: 1px solid #27c7ab;
    width:70px;
     
}
.form-section__confirm p{
    align-self: center;
    padding:15px;
}

 .form-section__sendBox--btn{
     background-color: #27c7ab;
     color:white;
     padding: 10px;
     border-radius: 12px;
     width:80%;
     height: 50px;
     display:flex;
     justify-content: center;
     align-items: center;
 }
 .footer__box{
     display:flex;
     justify-content: space-between;
 }
 .footer__copy-rights{
     flex-grow: 1;
 }
 .footer__icons-box{
     display:flex;
     align-items: center;
     justify-content: space-between;
     flex-grow: 0.6;
 }
 .footer__copy-rights{
     color:#c2c2c2;
 }
 .footer__icons-box p{
     text-transform: uppercase;
     color: #c2c2c2;
 }
 